

body {
  background: #354A48;
  font-family: 'Fjalla One';
  color: #9993B1;
}

.boundingBox {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  transform: translateZ(0);
  perspective: 1000px;
  backface-visibility: hidden;
  /* border: aliceblue 1px solid; */
}

.borderStyle {
  border: 1px solid #D68370;
}

.wrap {
  position: fixed;
  top: 20px;
  left: 50%;
  color: #9f9ca8;
  font-size: 20px;
  text-transform: uppercase;
  width: 300px;
  margin-left: -150px;
}
.wrap .check {
  float: left;
  margin-left: 30px;
}
.wrap input {
  position: absolute;
  left: -9999px;
}

.checktrue {
  position: relative;
  display: block;
  margin: 5px 0 0 70px;
  width: 55px;
  height: 26px;
  cursor: pointer;
  border-radius: 15px;
  transition: 350ms;
  background: linear-gradient(rgba(0, 0, 0, 0.07), rgba(43, 76, 70, 0)), #223C37;
}

.checktrue::after {
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  top: 3px;
  left: 5px;
  border-radius: 50%;
  transition: 250ms ease-in-out;
  background: linear-gradient(#2b4c46 10%, #223C37);
  box-shadow: 0 0.1em 0.15em -0.05em rgba(34, 60, 55, 0.5) inset, 0 0.2em 0.2em -0.12em rgba(0, 0, 0, 0.5);
}

.checktrue::before {
  position: absolute;
  content: '';
  width: 42px;
  height: 16px;
  top: 5px;
  left: 7px;
  border-radius: 15px;
  transition: 250ms ease-in-out;
  background: linear-gradient(rgba(0, 0, 0, 0.07), rgba(34, 60, 55, 0.1)), #31564f;
  box-shadow: 0 0.05em 0.15em -0.1em rgba(0, 0, 0, 0.5) inset, 0 0.04em 0.06em -0.01em rgba(34, 60, 55, 0.5), 0 0 0 0 rgba(0, 0, 0, 0.5) inset;
}

input:checked + .checktrue::before {
  box-shadow: 0 0.08em 0.15em -0.1em rgba(0, 0, 0, 0.5) inset, 0 0.05em 0.08em -0.01em rgba(34, 60, 55, 0.5), 3em 0 0 0 rgba(153, 147, 177, 0.7) inset;
}

input:checked + .checktrue::after {
  left: 30px;
}
