body {
             font-family: 'Aladin', cursive;
             background: #cccc;
        }


h1 {
    
     font-family: 'Niconne', cursive;
     margin: 0px 50px 0px 50px;
}

section.page {
    margin: 0px 50px 0px 50px;
        display: block;
}



section.page.intro {
    font-size: larger;
}

section.page.intro:first-letter {
    text-transform: uppercase;
    font-size: xx-large;
    font-family: 'Niconne', cursive;

}

table.table.table-condensed {
    max-width: 600px;
}


.center {
    margin: auto;
    width: 50%;
   
}